# 1
Er zijn meerdere 1-dimensionale structuren in Python. De list, de numpy array en pandas Series zijn degene die je het meest zal gebruiken (numpy en pandas zijn packages).

**A. Maak een list met de getallen 6 tot en met 10**

In [1]:
list1 = [6, 7, 8 , 9, 10]
print(list1)

[6, 7, 8, 9, 10]

**B. Geef de list de naam list1**

**C. Zet de list om in een numpy array en pandas series. Importeer eerst deze twee packages**

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
array1 = np.array(list1)
print(array1)
series1 = pd.Series(list1)
print(series1)

[ 6  7  8  9 10]
0     6
1     7
2     8
3     9
4    10
dtype: int64

### **C. Tel 5 op bij alle getallen in list1, doe hetzelfde voor de array en series**

Voor de python list hebben we een list comprehension nodig. De numpy array en pandas Series kunnen het in één keer.

In [5]:
temp_list = [x+5 for x in list1]
list1 = temp_list
print(list1)

[11, 12, 13, 14, 15]

In [6]:
temp_list2 = [x+5 for x in array1]
array1 = np.array(temp_list2)
print(array1)

[11 12 13 14 15]

In [7]:
temp_list3 = [x+5 for x in series1]
series1 = pd.Series(temp_list3)
print(series1)

0    11
1    12
2    13
3    14
4    15
dtype: int64

## 3
**A. Maak een tweede list met de letters A,B,C,D,E en noem deze list2**

In [8]:
list2 = ["A", "B", "C", "D", "E"]

**B. Maak een pandas dataframe met de naam df die bestaat uit twee kolommen: list1 en list2**

In [9]:
data =

SyntaxError: invalid syntax (Temp/ipykernel_18916/3004889086.py, line 1)

**C. Voeg een derde kolom toe aan de dataframe met 5 x de waarde TRUE**

## 4 
**Check of je working directory overeenkomt met de map waarin je de werkcolleges wil opslaan**

In [10]:
import os

os.getcwd()

'C:\\xampp\\htdocs\\Data_Science_opdrachten\\Introduction_to_data_science\\Week_1'

## 5
**Gebruik de functie 'read_csv()' uit het pandas package om de dataset in te laden en geef het de
naam *HairEyeColour***

In [ ]:
df = pd.read_csv("HairEyeColor.csv")
df

## 6 
**Wat voor type variabelen zitten er in de dataset?** Tip: gebruik de method 'info()'

object betekent 'tekst'

In [ ]:
df.info()

## 7 
**Hoeveel mannen en hoeveel vrouwen zitten er in de dataset?** Tip: gebruik method 'value_counts()' of functie 'crosstab()' uit pandas

In [ ]:
df.value_counts("Sex")

## 8 
**Hoe veel roodharige personen met groene ogen zitten er in de dataset?**

In [ ]:
counts = df.value_counts(["Hair", "Eye"])
counts

## 9
**Welk percentage van de mensen met blond haar heeft blauwe ogen?**

In [ ]:
total = sum([x for x in counts])
counts[1] / total * 100

## 10
**Hoeveel vrouwen hebben blond en haar en blauwe ogen?**

In [ ]:

totalWomen = df.value_counts(["Hair", "Sex", "Eye"])
totalWomen

## 11
**Voeg een kolom toe aan de dataset met de naam DarkHair. Deze kolom heeft de waarde
“Dark” indien de haarkleur Black of Brown is en “Light” indien de haarkleur Blond of Red is.**

Tip: gebruik functie 'where()' uit numpy package of een list comprehension

## 12
**Hoeveel personen hebben licht haar?**

## 13 
**Welk percentage van de personen heeft licht haar en blauwe ogen?**