## 1. 
**Importeer de dataset Mugello.csv in R**

In [20]:
import pandas as pd

In [21]:
mugello_df = pd.read_csv('Mugello.csv' , index_col=0)
mugello_df.head()

,LAP,Daniel.RICCIARDO,Lando.NORRIS,Sebastian.VETTEL,Nicholas.LATIFI,Kimi.RAIKKONEN,Romain.GROSJEAN,Pierre.GASLY,Sergio.PEREZ,Charles.LECLERC,...,Kevin.MAGNUSSEN,Alexander.ALBON,Daniil.KVYAT,Esteban.OCON,Max.VERSTAPPEN,Lewis.HAMILTON,Carlos.SAINZ,George.RUSSELL,Valtteri.BOTTAS,Antonio.GIOVINAZZI
1,1,141.000,145.000,192.000,154.000,181.000,183.000,NaN,142.000,136.000,...,153.000,138.000,147.000,148.000,NaN,135.000,164.000,149.000,132.000,155.000
2,2,144.786,144.371,112.400,142.833,120.769,117.221,NaN,145.389,146.424,...,142.262,145.960,144.130,143.856,NaN,146.653,135.826,144.480,148.572,143.099
3,3,137.351,137.331,135.684,137.245,137.105,137.211,NaN,137.193,136.385,...,137.241,136.967,137.237,137.987,NaN,136.551,136.430,137.132,137.078,136.806
4,4,135.385,134.602,136.774,133.727,135.592,134.294,NaN,134.942,135.131,...,133.812,134.650,134.702,134.439,NaN,134.621,134.153,134.898,133.468,133.809
5,5,132.873,132.713,132.292,134.383,133.244,134.068,NaN,132.602,133.400,...,134.825,133.442,132.980,133.705,NaN,133.693,134.103,133.501,134.247,134.220

## 2. 
**Zet de dataset om van een wide format naar een long format zodat je per ronde, per coureur de rondetijd krijgt.**

In [22]:
wide_df = pd.melt(mugello_df, id_vars=['LAP'], var_name='Coureur', value_name='Rondetijd')

## 3. 
**Wie reed de snelste ronde?**

Je kan sorteren:

In [23]:
wide_df.sort_values
wide_df['Rondetijd'].min()

78.833

Of filteren op de laagste rondetijd:

In [24]:
wide_df['Rondetijd'].max()

1617.695

## 4. 
**Verwijder de NA waardes uit de dataset**

In [41]:
wide_df.dropna()

      LAP             Coureur  Rondetijd
0       1    Daniel.RICCIARDO    141.000
1       2    Daniel.RICCIARDO    144.786
2       3    Daniel.RICCIARDO    137.351
3       4    Daniel.RICCIARDO    135.385
4       5    Daniel.RICCIARDO    132.873
...   ...                 ...        ...
1121    1  Antonio.GIOVINAZZI    155.000
1122    2  Antonio.GIOVINAZZI    143.099
1123    3  Antonio.GIOVINAZZI    136.806
1124    4  Antonio.GIOVINAZZI    133.809
1125    5  Antonio.GIOVINAZZI    134.220

[777 rows x 3 columns]

## 5. 
**Wat is de gemiddelde rondetijd?**

In [26]:
wide_df['Rondetijd'].mean()

142.05397683397698

## 6. 
**Bereken de snelste rondetijd per coureur en sla deze op als variabele in het dataframe**<br>
**Bereken tevens het verschil van de rondetijd met de snelste ronde deze coureur en sla dit op in een nieuwe variabele, doe deze twee berekeningen in Ã©Ã©n assign functie**

In [51]:
wide_df.assign(Snelstetijd = lambda x: x.groupby('Coureur')['Rondetijd'].transform('min'), Verschil = lambda x: x['Rondetijd'] - x['Snelstetijd'])

      LAP             Coureur  Rondetijd  Snelstetijd  Verschil
0       1    Daniel.RICCIARDO    141.000       80.426    60.574
1       2    Daniel.RICCIARDO    144.786       80.426    64.360
2       3    Daniel.RICCIARDO    137.351       80.426    56.925
3       4    Daniel.RICCIARDO    135.385       80.426    54.959
4       5    Daniel.RICCIARDO    132.873       80.426    52.447
...   ...                 ...        ...          ...       ...
1175   55  Antonio.GIOVINAZZI        NaN      133.809       NaN
1176   56  Antonio.GIOVINAZZI        NaN      133.809       NaN
1177   57  Antonio.GIOVINAZZI        NaN      133.809       NaN
1178   58  Antonio.GIOVINAZZI        NaN      133.809       NaN
1179   59  Antonio.GIOVINAZZI        NaN      133.809       NaN

[1180 rows x 5 columns]

## 7. 
**Bereken de totale tijd gereden vanaf de eerste ronde per coureur. Maak een nieuwe kolom
om deze informatie op te slaan.**

In [52]:
wide_df.assign(TotaleTijd = lambda x: x.groupby('Coureur')['Rondetijd'].transform('sum'))

      LAP             Coureur  Rondetijd  TotaleTijd
0       1    Daniel.RICCIARDO    141.000    8410.142
1       2    Daniel.RICCIARDO    144.786    8410.142
2       3    Daniel.RICCIARDO    137.351    8410.142
3       4    Daniel.RICCIARDO    135.385    8410.142
4       5    Daniel.RICCIARDO    132.873    8410.142
...   ...                 ...        ...         ...
1175   55  Antonio.GIOVINAZZI        NaN     702.934
1176   56  Antonio.GIOVINAZZI        NaN     702.934
1177   57  Antonio.GIOVINAZZI        NaN     702.934
1178   58  Antonio.GIOVINAZZI        NaN     702.934
1179   59  Antonio.GIOVINAZZI        NaN     702.934

[1180 rows x 4 columns]

## 8. 
**Zet de dataset op volgorde van totale tijd verstreken van klein naar groot**<br>
**Welke coureur lag er op kop in ronde 10?**

In [60]:
wide_df.sort_values

<bound method DataFrame.sort_values of       LAP             Coureur  Rondetijd
0       1    Daniel.RICCIARDO    141.000
1       2    Daniel.RICCIARDO    144.786
2       3    Daniel.RICCIARDO    137.351
3       4    Daniel.RICCIARDO    135.385
4       5    Daniel.RICCIARDO    132.873
...   ...                 ...        ...
1175   55  Antonio.GIOVINAZZI        NaN
1176   56  Antonio.GIOVINAZZI        NaN
1177   57  Antonio.GIOVINAZZI        NaN
1178   58  Antonio.GIOVINAZZI        NaN
1179   59  Antonio.GIOVINAZZI        NaN

[1180 rows x 3 columns]>

## 9. 
**Selecteer alleen de variabelen met Lap, driver en laptime**

In [63]:
wide_df[['LAP', 'Coureur', 'Rondetijd']]

      LAP             Coureur  Rondetijd
0       1    Daniel.RICCIARDO    141.000
1       2    Daniel.RICCIARDO    144.786
2       3    Daniel.RICCIARDO    137.351
3       4    Daniel.RICCIARDO    135.385
4       5    Daniel.RICCIARDO    132.873
...   ...                 ...        ...
1175   55  Antonio.GIOVINAZZI        NaN
1176   56  Antonio.GIOVINAZZI        NaN
1177   57  Antonio.GIOVINAZZI        NaN
1178   58  Antonio.GIOVINAZZI        NaN
1179   59  Antonio.GIOVINAZZI        NaN

[1180 rows x 3 columns]

## 10. 
**Zet de dataset weer om in een wideformat**

In [64]:
wide_df.pivot(index='LAP', columns='Coureur', values='Rondetijd')

Coureur,Alexander.ALBON,Antonio.GIOVINAZZI,Carlos.SAINZ,Charles.LECLERC,Daniel.RICCIARDO,Daniil.KVYAT,Esteban.OCON,George.RUSSELL,Kevin.MAGNUSSEN,Kimi.RAIKKONEN,Lance.STROLL,Lando.NORRIS,Lewis.HAMILTON,Max.VERSTAPPEN,Nicholas.LATIFI,Pierre.GASLY,Romain.GROSJEAN,Sebastian.VETTEL,Sergio.PEREZ,Valtteri.BOTTAS
LAP,,,,,,,,,,,,,,,,,,,,
1,138.000,155.000,164.000,136.000,141.000,147.000,148.000,149.000,153.000,181.000,139.000,145.000,135.000,NaN,154.000,NaN,183.000,192.000,142.000,132.000
2,145.960,143.099,135.826,146.424,144.786,144.130,143.856,144.480,142.262,120.769,145.696,144.371,146.653,NaN,142.833,NaN,117.221,112.400,145.389,148.572
3,136.967,136.806,136.430,136.385,137.351,137.237,137.987,137.132,137.241,137.105,137.382,137.331,136.551,NaN,137.245,NaN,137.211,135.684,137.193,137.078
4,134.650,133.809,134.153,135.131,135.385,134.702,134.439,134.898,133.812,135.592,134.242,134.602,134.621,NaN,133.727,NaN,134.294,136.774,134.942,133.468
5,133.442,134.220,134.103,133.400,132.873,132.980,133.705,133.501,134.825,133.244,133.467,132.713,133.693,NaN,134.383,NaN,134.068,132.292,132.602,134.247
6,139.882,NaN,NaN,140.751,137.585,133.715,131.793,130.896,NaN,128.229,138.951,135.809,141.511,NaN,131.365,NaN,130.396,127.016,137.360,142.886
7,126.021,NaN,NaN,124.466,127.885,132.074,133.823,134.695,NaN,130.389,127.138,130.596,123.336,NaN,NaN,NaN,139.256,131.088,129.425,121.252
8,1578.108,NaN,NaN,1576.166,1580.159,1584.295,NaN,1586.384,NaN,1590.310,1578.767,1583.521,1574.948,NaN,NaN,NaN,1586.417,1591.459,1580.731,168.101
9,203.245,NaN,NaN,206.509,198.819,190.172,NaN,185.201,NaN,180.469,201.318,192.654,208.791,NaN,NaN,NaN,175.082,178.583,196.716,1617.695
10,89.369,NaN,NaN,86.608,88.423,90.149,NaN,91.259,NaN,90.841,86.695,89.731,83.370,NaN,NaN,NaN,91.999,92.463,87.526,84.937
11,84.054,NaN,NaN,83.692,84.163,85.065,NaN,85.350,NaN,85.652,84.052,84.739,82.549,NaN,NaN,NaN,86.648,85.273,83.762,82.435
12,84.049,NaN,NaN,83.631,83.778,84.182,NaN,84.867,NaN,85.945,83.888,83.851,82.376,NaN,NaN,NaN,85.495,85.268,84.230,83.268
13,83.966,NaN,NaN,83.491,84.037,84.505,NaN,84.800,NaN,85.371,83.332,84.469,83.064,NaN,NaN,NaN,85.447,85.211,83.875,82.798
14,83.793,NaN,NaN,84.153,83.356,84.835,NaN,85.007,NaN,85.255,84.125,84.415,83.293,NaN,NaN,NaN,85.559,85.304,83.793,83.064
15,83.917,NaN,NaN,84.096,83.508,84.220,NaN,84.890,NaN,85.260,83.885,84.197,83.231,NaN,NaN,NaN,85.560,85.063,85.014,83.201
16,84.336,NaN,NaN,84.390,83.999,84.222,NaN,84.851,NaN,86.576,84.507,84.285,82.997,NaN,NaN,NaN,85.537,84.538,84.279,82.896
17,84.072,NaN,NaN,84.457,84.128,84.695,NaN,85.358,NaN,85.159,84.194,84.314,83.013,NaN,NaN,NaN,85.864,84.611,84.202,83.450
18,83.390,NaN,NaN,85.338,84.270,84.453,NaN,85.030,NaN,84.885,83.259,84.438,83.683,NaN,NaN,NaN,86.083,84.820,85.413,83.282
19,84.621,NaN,NaN,85.738,83.372,84.285,NaN,84.710,NaN,85.205,83.637,84.554,82.919,NaN,NaN,NaN,85.681,84.983,84.282,83.136
20,83.206,NaN,NaN,86.026,83.710,84.311,NaN,84.773,NaN,85.060,83.623,84.548,83.200,NaN,NaN,NaN,85.733,84.908,84.837,83.205
21,83.787,NaN,NaN,104.937,83.744,85.001,NaN,85.200,NaN,85.372,83.821,84.704,82.818,NaN,NaN,NaN,85.627,85.064,84.373,83.162
22,83.628,NaN,NaN,90.690,83.464,84.437,NaN,85.252,NaN,85.106,83.760,84.042,83.668,NaN,NaN,NaN,85.676,85.511,84.546,83.331
23,83.899,NaN,NaN,84.083,83.614,84.765,NaN,85.511,NaN,85.345,83.919,84.437,83.243,NaN,NaN,NaN,85.930,85.679,85.151,83.231
24,83.732,NaN,NaN,84.285,83.590,85.354,NaN,85.099,NaN,85.561,84.078,84.636,82.994,NaN,NaN,NaN,85.613,85.683,84.699,83.229
25,83.779,NaN,NaN,85.001,84.374,85.223,NaN,85.406,NaN,85.409,84.070,84.958,83.283,NaN,NaN,NaN,86.012,85.626,85.114,83.172
26,84.076,NaN,NaN,83.698,84.049,84.951,NaN,85.895,NaN,85.562,84.301,85.119,83.425,NaN,NaN,NaN,87.007,85.756,85.305,83.752
27,83.927,NaN,NaN,84.165,101.016,85.205,NaN,85.396,NaN,113.875,84.222,84.868,83.316,NaN,NaN,NaN,86.063,85.863,85.559,83.380
28,83.675,NaN,NaN,84.718,86.729,85.689,NaN,85.932,NaN,95.110,84.649,84.258,83.112,NaN,NaN,NaN,104.416,104.436,104.649,83.535
29,84.459,NaN,NaN,84.574,84.891,103.589,NaN,103.575,NaN,84.055,101.836,104.423,83.137,NaN,NaN,NaN,92.229,90.303,86.963,84.805
30,84.313,NaN,NaN,85.442,83.257,90.827,NaN,88.429,NaN,85.179,88.311,89.431,83.074,NaN,NaN,NaN,84.662,84.194,82.111,84.521
31,85.240,NaN,NaN,84.327,83.555,83.516,NaN,83.235,NaN,83.618,83.117,83.202,82.914,NaN,NaN,NaN,84.652,84.017,83.150,103.260
32,100.967,NaN,NaN,83.930,83.662,83.016,NaN,84.114,NaN,84.133,83.153,83.407,100.016,NaN,NaN,NaN,84.532,84.076,83.284,87.993
33,88.884,NaN,NaN,86.030,83.211,83.047,NaN,84.200,NaN,83.955,83.238,83.067,88.882,NaN,NaN,NaN,84.558,84.235,83.271,81.874
34,82.119,NaN,NaN,83.973,83.264,83.226,NaN,84.368,NaN,83.797,83.021,83.021,82.104,NaN,NaN,NaN,86.389,83.708,82.922,81.799
35,82.684,NaN,NaN,83.862,83.213,83.086,NaN,84.312,NaN,83.985,83.034,83.299,82.261,NaN,NaN,NaN,84.717,84.224,82.814,81.916
36,82.314,NaN,NaN,83.488,83.137,82.589,NaN,83.773,NaN,83.673,82.739,82.784,82.453,NaN,NaN,NaN,84.678,83.942,83.623,82.393
37,81.917,NaN,NaN,102.659,82.952,84.531,NaN,83.795,NaN,83.361,82.323,82.583,82.015,NaN,NaN,NaN,86.816,83.998,82.988,82.076
38,82.562,NaN,NaN,88.418,82.503,83.553,NaN,83.924,NaN,83.285,82.399,82.978,82.099,NaN,NaN,NaN,84.483,83.755,82.873,82.208
39,81.756,NaN,NaN,82.506,82.213,83.890,NaN,84.308,NaN,83.761,82.544,82.886,82.305,NaN,NaN,NaN,86.907,84.103,82.657,82.278
40,82.154,NaN,NaN,82.695,82.591,83.538,NaN,84.512,NaN,84.353,82.176,82.641,82.499,NaN,NaN,NaN,84.951,84.271,83.133,82.448
41,82.242,NaN,NaN,82.827,82.483,83.354,NaN,84.022,NaN,85.590,82.068,82.878,82.301,NaN,NaN,NaN,84.346,84.048,82.670,82.147
42,82.038,NaN,NaN,83.342,82.152,83.405,NaN,84.215,NaN,108.127,NaN,82.698,82.354,NaN,NaN,NaN,107.445,84.308,82.618,81.915
43,110.967,NaN,NaN,107.675,107.997,119.157,NaN,123.974,NaN,111.500,NaN,117.116,81.965,NaN,NaN,NaN,111.092,122.831,113.975,102.623
44,110.321,NaN,NaN,109.406,110.108,111.464,NaN,111.740,NaN,1012.470,NaN,112.604,126.887,NaN,NaN,NaN,951.805,111.197,110.473,112.694
45,1414.865,NaN,NaN,1384.706,1415.545,1386.474,NaN,1374.687,NaN,438.507,NaN,1395.827,168.966,NaN,NaN,NaN,490.852,1375.100,1400.069,161.220
46,198.929,NaN,NaN,185.903,203.348,189.879,NaN,182.358,NaN,188.002,NaN,192.383,1481.868,NaN,NaN,NaN,186.819,179.363,197.483,1477.833
47,85.553,NaN,NaN,89.573,84.727,87.634,NaN,89.994,NaN,87.808,NaN,86.604,84.056,NaN,NaN,NaN,88.490,90.026,85.772,84.991
48,80.854,NaN,NaN,82.942,81.530,82.451,NaN,83.823,NaN,82.830,NaN,82.581,80.072,NaN,NaN,NaN,82.879,83.368,81.827,79.752
49,81.037,NaN,NaN,82.717,80.712,81.529,NaN,83.267,NaN,82.156,NaN,81.645,80.153,NaN,NaN,NaN,83.268,82.909,81.352,81.001
50,80.464,NaN,NaN,81.229,80.856,81.749,NaN,82.327,NaN,81.925,NaN,81.291,80.655,NaN,NaN,NaN,83.431,82.500,81.083,80.578
51,80.039,NaN,NaN,82.079,82.229,81.458,NaN,83.001,NaN,81.815,NaN,81.491,79.647,NaN,NaN,NaN,84.177,81.968,81.492,80.596
52,80.642,NaN,NaN,82.146,81.333,81.631,NaN,81.766,NaN,82.068,NaN,81.443,81.451,NaN,NaN,NaN,84.264,82.081,81.456,81.213
53,80.830,NaN,NaN,82.218,81.138,81.682,NaN,81.789,NaN,81.910,NaN,81.526,80.775,NaN,NaN,NaN,83.511,82.013,81.556,79.432
54,80.977,NaN,NaN,82.203,80.919,81.670,NaN,82.081,NaN,81.858,NaN,81.594,80.655,NaN,NaN,NaN,83.339,82.349,81.620,80.941
55,80.665,NaN,NaN,81.889,80.656,81.490,NaN,81.960,NaN,81.930,NaN,81.322,80.662,NaN,NaN,NaN,83.148,81.902,81.222,80.757
56,80.830,NaN,NaN,81.653,80.628,81.524,NaN,82.432,NaN,81.407,NaN,81.236,80.518,NaN,NaN,NaN,82.708,81.643,81.120,80.250
57,80.774,NaN,NaN,81.936,80.426,81.468,NaN,81.730,NaN,81.752,NaN,81.419,80.146,NaN,NaN,NaN,82.676,81.781,81.236,80.054
58,80.180,NaN,NaN,81.236,80.643,81.588,NaN,81.645,NaN,81.371,NaN,81.269,78.833,NaN,NaN,NaN,82.755,81.454,81.200,79.561
59,81.273,NaN,NaN,81.994,81.096,81.594,NaN,81.715,NaN,81.164,NaN,81.198,79.338,NaN,NaN,NaN,82.263,81.202,80.632,82.214